In [65]:
# PARAMETERS
YOUR_PASSWORD: str = "password"
YOUR_PORT: int = 7687

In [66]:
import pandas as pd
from py2neo import Graph

graph = Graph(f"bolt://localhost:{7687}",password= "password")
graph.run('match (n) detach delete n') # Drops all data
try:
    indexes = graph.run('show indexes yield name').to_data_frame()['name'] # drops all indices
    for index in indexes:
        graph.run(f'drop index {index}')
except:
    pass

In [67]:
specialization = pd.read_parquet('https://kuleuven-datathon-2023.s3.eu-central-1.amazonaws.com/data/Specialization.parquet.gzip')
specialization.head(2)

   id        name                                        description
0   0  Still Life  A still life (plural: still lifes) is a work o...
1   1   Portraits  A portrait is a painting, photograph, sculptur...

In [68]:
graph.run(
"""
LOAD CSV WITH HEADERS FROM "https://kuleuven-datathon-2023.s3.eu-central-1.amazonaws.com/data/Specialization.csv" AS csvLine
MERGE (s:Specialization {
    id: toInteger(csvLine.id), 
    name: csvLine.name,
    description: csvLine.description
    })
"""
)

(No data)

In [69]:
graph.run('CREATE INDEX specialization FOR (n:Specialization) ON (n.id)')

(No data)

In [70]:
movement = pd.read_parquet('https://kuleuven-datathon-2023.s3.eu-central-1.amazonaws.com/data/Movement.parquet.gzip')
movement.head(2)

,id,name,description
0,0,Ashcan School,"The Ashcan School, also called the Ash Can Sch..."
1,1,Pre-Raphaelite Brotherhood,The Pre-Raphaelite Brotherhood (later known as...

In [71]:
graph.run(
"""
LOAD CSV WITH HEADERS FROM "https://kuleuven-datathon-2023.s3.eu-central-1.amazonaws.com/data/Movement.csv" AS csvLine
MERGE (m:Movement {
    id: toInteger(csvLine.id), 
    name: csvLine.name,
    description: csvLine.description
    })
"""
)

(No data)

In [72]:
graph.run('CREATE INDEX movement FOR (n:Movement) ON (n.id)')

(No data)

In [73]:
academy = pd.read_parquet('https://kuleuven-datathon-2023.s3.eu-central-1.amazonaws.com/data/Academy.parquet.gzip')
academy.head(2)

,id,name,description
0,0,Royal Academy of Fine Arts Antwerp,The Royal Academy of Fine Arts Antwerp (Dutch:...
1,1,Académie Royale des Beaux-Arts,The Royal Academy of Fine Arts of Brussels (Fr...

In [74]:
graph.run(
"""
LOAD CSV WITH HEADERS FROM "https://kuleuven-datathon-2023.s3.eu-central-1.amazonaws.com/data/Academy.csv" AS csvLine
MERGE (a:Academy {
    id: toInteger(csvLine.id), 
    name: csvLine.name,
    description: csvLine.description
    })
"""
)

(No data)

In [75]:
graph.run('CREATE INDEX academy FOR (n:Academy) ON (n.id)')

(No data)

In [76]:
medium = pd.read_parquet('https://kuleuven-datathon-2023.s3.eu-central-1.amazonaws.com/data/Medium.parquet.gzip')
medium.head(2)

   id           name                                        description
0   0  Oil on canvas  Oil painting is the process of painting with p...
1   1   Oil on panel  Oil painting is the process of painting with p...

In [77]:
graph.run(
"""
LOAD CSV WITH HEADERS FROM "https://kuleuven-datathon-2023.s3.eu-central-1.amazonaws.com/data/Medium.csv" AS csvLine
MERGE (m:Medium {
    id: toInteger(csvLine.id), 
    name: csvLine.name,
    description: csvLine.description
    })
"""
)

(No data)

In [78]:
graph.run('CREATE INDEX medium FOR (n:Medium) ON (n.id)')

(No data)

In [79]:
places = pd.read_parquet('https://kuleuven-datathon-2023.s3.eu-central-1.amazonaws.com/data/Places.parquet.gzip')
places.head(2)

   id     name  parent
0   0  Zundert   213.0
1   1  Limoges   214.0

In [80]:
graph.run(
"""
LOAD CSV WITH HEADERS FROM "https://kuleuven-datathon-2023.s3.eu-central-1.amazonaws.com/data/Places.csv" AS csvLine
MERGE (m:Place {
    id: toInteger(csvLine.id), 
    name: csvLine.name
    })
"""
)

(No data)

In [81]:
graph.run('CREATE INDEX place FOR (n:Place) ON (n.id)')

(No data)

In [82]:
graph.run(
"""
LOAD CSV WITH HEADERS FROM "https://kuleuven-datathon-2023.s3.eu-central-1.amazonaws.com/data/Places.csv" AS csvLine
MATCH (p1:Place {id: toInteger(csvLine.id)}), (p2:Place {id: toInteger(csvLine.parent)})
MERGE (p1) -[r:LOCATED_IN]-> (p2)
"""
)

(No data)

In [83]:
pictures = pd.read_parquet('https://kuleuven-datathon-2023.s3.eu-central-1.amazonaws.com/data/ArtistPicture.parquet.gzip')
pictures.head(2)

,id,url,source_url,caption
0,0,https://kuleuven-datathon-2023.s3.eu-central-1...,http://upload.wikimedia.org/wikipedia/commons/...,"Self-Portrait, 1887, Art Institute of Chicago"
1,1,https://kuleuven-datathon-2023.s3.eu-central-1...,http://upload.wikimedia.org/wikipedia/commons/...,None

In [84]:
graph.run(
"""
LOAD CSV WITH HEADERS FROM "https://kuleuven-datathon-2023.s3.eu-central-1.amazonaws.com/data/ArtistPicture.csv" AS csvLine
CREATE (m:Picture {
    id: toInteger(csvLine.id), 
    url: csvLine.url,
    source_url: csvLine.source_url,
    caption: csvLine.caption
    })
"""
)

(No data)

In [85]:
graph.run('CREATE INDEX picture FOR (n:Picture) ON (n.id)')

(No data)

In [86]:
graph.run(
"""
LOAD CSV WITH HEADERS FROM "https://kuleuven-datathon-2023.s3.eu-central-1.amazonaws.com/data/Generated.csv" AS csvLine
CREATE (m:Generated {
    url: csvLine.url
    })
"""
)

(No data)

In [87]:
artworks = pd.read_parquet('https://kuleuven-datathon-2023.s3.eu-central-1.amazonaws.com/data/Artwork.parquet.gzip')
artworks.head(2)

,id,name,url,image_url,artist,rating,summary,year,medium,location
0,0,Cafe Terrace on the Place du Forum,http://wikigallery.org/wiki/painting_133032/Vi...,https://kuleuven-datathon-2023.s3.eu-central-1...,0,8.0,Café Terrace at Night is an 1888 oil painting ...,1888.0,0.0,Kröller-Müller Museum
1,1,Starry Night,http://wikigallery.org/wiki/painting_9698/Vinc...,https://kuleuven-datathon-2023.s3.eu-central-1...,0,9.0,None,NaN,NaN,None

In [88]:
graph.run(
"""
LOAD CSV WITH HEADERS FROM "https://kuleuven-datathon-2023.s3.eu-central-1.amazonaws.com/data/Artwork.csv" AS csvLine
CREATE (m:Artwork {
    id: toInteger(csvLine.id), 
    name: csvLine.name,
    image_url: csvLine.image_url,
    rating: toInteger(csvLine.rating),
    summary: csvLine.summary,
    year: toIntegerOrNull(csvLine.year),
    location: csvLine.location
    })
"""
)

(No data)

In [89]:
graph.run('CREATE INDEX artwork FOR (n:Artwork) ON (n.id)')

(No data)

In [90]:
graph.run(
"""
LOAD CSV WITH HEADERS FROM "https://kuleuven-datathon-2023.s3.eu-central-1.amazonaws.com/data/Artwork.csv" AS csvLine
MATCH (a:Artwork {id: toInteger(csvLine.id)}), (m:Medium {id: toIntegerOrNull(csvLine.medium)})
MERGE (a) -[r:USES]-> (m)
"""
)

(No data)

In [91]:
generated = pd.read_parquet('https://kuleuven-datathon-2023.s3.eu-central-1.amazonaws.com/data/Generated.parquet.gzip')
generated.head(2)

   source_artwork                                                url
0            3148  https://kuleuven-datathon-2023.s3.eu-central-1...
1            1480  https://kuleuven-datathon-2023.s3.eu-central-1...

In [92]:
graph.run(
"""
LOAD CSV WITH HEADERS FROM "https://kuleuven-datathon-2023.s3.eu-central-1.amazonaws.com/data/Generated.csv" AS csvLine
MATCH (a:Artwork {id: toInteger(csvLine.source_artwork)}), (g:Generated {url: csvLine.url})
MERGE (g) -[r:BASED_ON]-> (a)
"""
)

(No data)

In [93]:
graph.run(
"""
LOAD CSV WITH HEADERS FROM "https://kuleuven-datathon-2023.s3.eu-central-1.amazonaws.com/data/Recommendation.csv" AS csvLine
MATCH (a:Artwork {id: toInteger(csvLine.artwork)}), (recommendation:Artwork {id: toInteger(csvLine.recommended)})
MERGE (a) -[r:RECOMMENDS]-> (recommendation)
"""
)

(No data)

In [94]:
artists = pd.read_parquet('https://kuleuven-datathon-2023.s3.eu-central-1.amazonaws.com/data/Artist.parquet.gzip')
artists.fillna(pd.NA, inplace=True)
artists.head(2)

,id,name,url,summary,picture,birthplace,deathplace,birthdate,deathdate,cause_of_death
0,0,Vincent Van Gogh,http://wikigallery.org/wiki/artist36933/Vincen...,Vincent Willem van Gogh (Dutch: [ˈvɪnsɛnt ˈʋɪl...,0.0,0.0,342.0,1853-03-30,1890-07-29,Gunshot wound
1,1,Pierre Auguste Renoir,http://wikigallery.org/wiki/artist39254/Pierre...,Pierre-Auguste Renoir (French: [pjɛʁ oɡyst ʁən...,1.0,1.0,343.0,1841-02-25,1919-12-03,<NA>

In [95]:
graph.run(
"""
LOAD CSV WITH HEADERS FROM "https://kuleuven-datathon-2023.s3.eu-central-1.amazonaws.com/data/Artist.csv" AS csvLine
CREATE (m:Artist {
    id: toInteger(csvLine.id), 
    name: csvLine.name,
    url: csvLine.url,
    summary: csvLine.summary
    })
"""
)

(No data)

In [96]:
graph.run('CREATE INDEX artist FOR (n:Artist) ON (n.id)')

(No data)

In [97]:
graph.run(
"""
LOAD CSV WITH HEADERS FROM "https://kuleuven-datathon-2023.s3.eu-central-1.amazonaws.com/data/Artist.csv" AS csvLine
MATCH (a:Artist {id: toInteger(csvLine.id)}), (picture:Picture {id: toIntegerOrNull(csvLine.picture)})
MERGE (a) -[r:IMAGE]-> (picture)
"""
)

(No data)

In [98]:
graph.run(
"""
LOAD CSV WITH HEADERS FROM "https://kuleuven-datathon-2023.s3.eu-central-1.amazonaws.com/data/Artist.csv" AS csvLine
MATCH (a:Artist {id: toInteger(csvLine.id)}), (birthplace:Place {id: toIntegerOrNull(csvLine.birthplace)})
MERGE (a) -[r:BORN_IN]-> (birthplace)
"""
)

(No data)

In [99]:
graph.run(
"""
LOAD CSV WITH HEADERS FROM "https://kuleuven-datathon-2023.s3.eu-central-1.amazonaws.com/data/Artist.csv" AS csvLine
MATCH (a:Artist {id: toInteger(csvLine.id)}), (deathplace:Place {id: toIntegerOrNull(csvLine.deathplace)})
MERGE (a) -[r:DIED_IN]-> (deathplace)
SET r.cause = csvLine.cause_of_death
"""
)

(No data)

In [100]:
pd.read_csv('https://kuleuven-datathon-2023.s3.eu-central-1.amazonaws.com/data/Apprenticeship.csv').head()

   student_id  teacher_id
0         4.0       301.0
1         4.0       577.0
2         6.0       578.0
3        15.0       579.0
4        15.0       580.0

In [101]:
graph.run(
"""
LOAD CSV WITH HEADERS FROM "https://kuleuven-datathon-2023.s3.eu-central-1.amazonaws.com/data/Apprenticeship.csv" AS csvLine
MATCH (student:Artist {id: toInteger(csvLine.student_id)}), (teacher:Artist {id: toIntegerOrNull(csvLine.teacher_id)})
MERGE (student) -[r:APPRENTICE_OF]-> (teacher)
"""
)

(No data)

In [102]:
graph.run(
"""
LOAD CSV WITH HEADERS FROM "https://kuleuven-datathon-2023.s3.eu-central-1.amazonaws.com/data/Artwork.csv" AS csvLine
MATCH (artwork:Artwork {id: toInteger(csvLine.id)}), (artist:Artist {id: toIntegerOrNull(csvLine.artist)})
MERGE (artwork) -[r:MADE_BY]-> (artist)
"""
)

(No data)

In [103]:
graph.run(
"""
LOAD CSV WITH HEADERS FROM "https://kuleuven-datathon-2023.s3.eu-central-1.amazonaws.com/data/ArtistSpecializations.csv" AS csvLine
MATCH (s:Specialization {id: toInteger(csvLine.specialty_id)}), (artist:Artist {id: toIntegerOrNull(csvLine.artist_id)})
MERGE (s) <-[r:SPECIALIZED_IN]- (artist)
"""
)

(No data)

In [104]:
graph.run(
"""
LOAD CSV WITH HEADERS FROM "https://kuleuven-datathon-2023.s3.eu-central-1.amazonaws.com/data/ArtistMovements.csv" AS csvLine
MATCH (s:Movement {id: toInteger(csvLine.movement_id)}), (artist:Artist {id: toIntegerOrNull(csvLine.artist_id)})
MERGE (s) <-[r:BELONGS_TO]- (artist)
"""
)

(No data)

In [105]:
graph.run(
"""
LOAD CSV WITH HEADERS FROM "https://kuleuven-datathon-2023.s3.eu-central-1.amazonaws.com/data/ArtistEducation.csv" AS csvLine
MATCH (s:Academy {id: toInteger(csvLine.academy_id)}), (artist:Artist {id: toIntegerOrNull(csvLine.artist_id)})
MERGE (s) <-[r:EDUCATED_AT]- (artist)
"""
)

(No data)

In [106]:
graph.run(
    """
    CALL db.schema.visualization
    """
)

 nodes                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               | relationships
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 [(_-9:Artist {constraints: [], indexes: ['id'], name: 'Artist'}), (_-1:Specialization {constraints: [], indexes: ['id'], name: 'Specialization'}), (_-2:Movement {constraints: [], indexes: ['id'], name: 'Movement'}), (_-7:Generated {constraints: [], indexes: [], name: 'Generated'}), (_-8:Artwork {constraints: [], indexes: ['id'], name: 'Artwork'}), (_-3:Academy {constraints: [], indexes: ['id'], name: 'Academy'}), (_-4:Medium {constraints: [], indexes: ['id'], name: 'Medium'}), (_-6:Picture {constraints: [], indexes: ['id'], name: 'Picture'}), (_-5:Place {constraints: [], indexes: ['id'], name: 'Place'})] | [(_-5)-[:LOCATED_IN {}]->(_-5), (_-8)-[:RECOMMENDS {}]->(_-8), (_-9)-[:SPECIALIZED_IN {}]->(_-1), (_-9)-[:IMAGE {}]->(_-6), (_-9)-[:EDUCATED_AT {}]->(_-3), (_-9)-[:DIED_IN {}]->(_-5), (_-9)-[:BELONGS_TO {}]->(_-2), (_-9)-[:APPRENTICE_OF {}]->(_-9), (_-8)-[:MADE_BY {}]->(_-9), (_-9)-[:BORN_IN {}]->(_-5), (_-7)-[:BASED_ON {}]->(_-8), (_-8)-[:USES {}]->(_-4)]

In [109]:
graph.run(
    """
MATCH (g:Generated)-[b:BASED_ON]->(a:Artwork)
RETURN g as AI_generated, a.name as Artwork
LIMIT 3 
    """
)

 AI_generated                                                                                                                                                                              | Artwork
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|------------------------------------
 (_939:Generated {url: 'https://kuleuven-datathon-2023.s3.eu-central-1.amazonaws.com/generated/A painting of 6th Sokol Festival. 1912 in the style of Alphonse Maria Mucha.png'})          | 6th Sokol Festival. 1912
 (_940:Generated {url: 'https://kuleuven-datathon-2023.s3.eu-central-1.amazonaws.com/generated/A painting of A Back Road, c.1880s in the style of Childe Hassam.png'})                     | A Back Road, c.1880s
 (_941:Generated {url: 'https://kuleuven-datathon-2023.s3.eu-central-1.amazonaws.com/generated/A painting of A Backwater at Calcot Near Reading in the style of John Singer Sargent.png'}) | A Backwater at Calcot Near Reading

In [111]:
graph.run(
    """
MATCH (g:Generated)-[b:BASED_ON]->(a:Artwork)-[m:MADE_BY]->(ar:Artist)
WHERE ar = ar
RETURN ar.name as Artist, count(ar) as nbr_works 
ORDER BY nbr_works desc
LIMIT 3   
    """
)

 Artist                | nbr_works
-----------------------|-----------
 Pierre Auguste Renoir |        25
 Claude Oscar Monet    |        25
 Fernando Botero       |        25

In [110]:
graph.run(
    """
MATCH (ar:Artist)-[b:BELONGS_TO]->(m:Movement)
RETURN m.name as style, count(ar) as nbr_artists
ORDER BY nbr_artists desc
LIMIT 3  
    """
)

 style       | nbr_artists
-------------|-------------
 Baroque     |          34
 Renaissance |          23
 Realism     |          19

In [112]:
graph.run(
    """
    CALL gds.graph.project(
   'Artist',
   'Artist',
   'APPRENTICE_OF')
YIELD
graphName AS graph,
nodeProjection,
nodeCount AS nodes,
relationshipProjection,
relationshipCount AS rels
 
    """
)

ClientError: [Procedure.ProcedureCallFailed] Failed to invoke procedure `gds.graph.project`: Caused by: java.lang.IllegalArgumentException: A graph with name 'Artist' already exists.

In [114]:
graph.run(
    """
CALL gds.wcc.stream('Artist')
YIELD nodeId, componentId
RETURN collect(gds.util.asNode(nodeId).name) AS names, componentId
ORDER BY componentId, names
    """
)

 names                     | componentId
---------------------------|-------------
 ['Vincent Van Gogh']      |           0
 ['Pierre Auguste Renoir'] |           1
 ['Claude Oscar Monet']    |           2

In [115]:
graph.run(
    """
CALL gds.louvain.stream('Artist')
YIELD nodeId, communityId
RETURN collect(gds.util.asNode(nodeId).name) AS Artist,
     communityId
ORDER BY communityId
    """
)

 Artist                    | communityId
---------------------------|-------------
 ['Vincent Van Gogh']      |           0
 ['Pierre Auguste Renoir'] |           1
 ['Claude Oscar Monet']    |           2

In [ ]:
graph.run(
    """
CALL gds.wcc.stream('Artist')
YIELD nodeId, componentId
RETURN gds.util.asNode(nodeId).name AS names, componentId
ORDER BY componentId, names
    """
)

In [ ]:
graph.run(
    """
CALL gds.louvain.stream('Artist')
YIELD nodeId, communityId
RETURN gds.util.asNode(nodeId).name AS Artist,
     communityId
ORDER BY communityId
    """
)